@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

*,
::after,
::before {
    box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-family: 'Baloo Thambi 2', cursive;
  background-color: thistle;
}

@media (max-width: 650px){
  html{
      font-size: 55%;
  }

  .logo{
    width: 45rem;
  }
}

@media (max-width: 410px){
  html{
    font-size: 46%;
  }
}
